:root {
    --primary-color: #260C1A;
    --secondary-color: #F05D23;
    --tertiary-color: #C5D86D;
    --accent-color: #F7F7F2;
    --background-color: #000;
    
}

*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--background-color);
}
::-webkit-scrollbar {
    width: 1px;
  }
/* ===========
Canvas shits
============== */
#background-canvas{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    pointer-events: none;
}
/* ===========
Typography 
============== */
@font-face {
    font-family: lightPixel;
    src: url(assets/light-pixel-7.regular.ttf);
    /* https://www.1001fonts.com/light-pixel-7-font.html */
}

h1{
    font-family: lightPixel;
    font-size: 1.5rem;
    font-weight: 200;
    margin: 0;
    color: var(--accent-color);
}

h2{
    font-family: lightPixel;
    font-size: 1.3rem;
    margin: 0;
    color: var(--accent-color);
}
h3{
    font-family: lightPixel;
    font-size: 1.1rem;
    margin: 0;
    color: var(--accent-color);
}
p{
    font-family:'Times New Roman', Times, serif;
    color: var(--accent-color);
    font-size: 1.5rem;
}

a{
    color: var(--accent-color);
    font-family: lightPixel;
    font-size: 1rem;
    font-weight: 200;
}


/* ===========
Layout 
============== */
    /* ===========
        NAVBAR
    ============== */
.navbar-container{
    width: 100%;
    height: 13vh;
    display: flex;
    align-items: center;
    justify-content:space-between;
    background-color: var(--background-color);
    z-index: 1;
    position: sticky;
    top: 0;
}

.navbar-logo h1{
    font-size: 1rem;
    font-weight: 200;
    margin-left: 3rem;
    color: var(--accent-color);
}
.navbar-logo a{
    text-decoration: none;
    padding: .25em 0;
}

.navbar-links ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
}
.navbar-links li{
    margin: 0 1rem;
    
}
.nav-item a{
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: .3em;
    transition: background-color 0.3s ease;
    
}
.nav-item a:hover{
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border-radius: .3em;
}
.active{
            
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-radius: .3em;
}

/* ===========
        HOME
    ============== */
.main-container{
    z-index: 0;
    position: relative;
}
.home-container{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: 10vh;
}

.icon-container{
    height: 40vh;
    width: 40vh;
    min-height: 150px;
    min-width: 150px;
    border: solid;
    border-radius: 100%;
    background-image: url("assets/icon.jpg");
    background-size: cover;
    background-position: center;
}

.details-container{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;

    
}

.static-text{
    font-size: 1.2rem;
    font-family: lightPixel;
    color: var(--accent-color);
   
    
}
.dynamic-text{
    color: var(--accent-color);
    margin-left: 15px;
    line-height: 1.4em;/**/
    height: 1.5em;/**/
    font-size: 1.2rem;/**/
    overflow: hidden;
    
}
.dynamic-text li{
    top: 0;
    font-size: 1em;/**/
    font-family: lightPixel;
    position: relative;
    list-style: none;
    white-space: nowrap;
    color: var(--secondary-color);
    animation: slide 12s steps(4) infinite;

}
@keyframes slide {
    100%{
        left: 0;/**/
    }
}

.dynamic-text li span{
    position: relative;
    margin: 5px 0;
    line-height: 1.5em;/**/      
}
.dynamic-text li span::after{
    left: 0;
    content: "";
    position: absolute;
    background-color: black;
    height: 100%;
    width: 100%;
    border-left: 2px solid var(--secondary-color);
    animation: typing 3s steps(26) infinite;

}
@keyframes typing {
    40%, 60%{
        left: calc(100% + 0.5em);
    
    }
    /* 100%{
        left: 0;
    } */
}

    /* =============
       Portfolio
    ================ */


.portfolio-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: 5rem;
}
.portfolio-container h2{
    margin-top: 7rem;
}

.portfolio-card-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
    z-index: 3;
    
}
.portfolio-card-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-bottom: 5rem;
}
.portfolio-card {
    width: 300px; 
    height: 450px;
    border-radius: 0.5rem;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    border: 1px solid transparent;
    transition: all .2s ease-in-out;
}
.portfolio-card:hover {
  transform: scale(1.1) ;
}

.portfolio-card a {
    text-decoration: none;
    cursor: pointer;
}

.portfolio-card-content {
    padding: 1.1rem;
}

.portfolio-card-image {
    
    width: 90%;
    height: 150px;
    margin: auto;
    margin-top: 1rem;
    background-color: rgb(155, 154, 154);
}

.portfolio-card-title {
    color: #111827;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
}

.portfolio-card-desc {
    margin-top: 0.5rem;
    color: #6B7280;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.portfolio-card-action {
    display: inline-flex;
    margin-top: 4rem;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    align-items: center;
    gap: 0.25rem;
    background-color: var(--secondary-color);
    padding: 4px 8px;
    border-radius: 4px;
    position: absolute;
    bottom: 10px;
    
}

.portfolio-card-action span {
    color: var(--accent-color);
    transition: .3s ease;
}

.portfolio-card-action:hover span {
    transform: translateX(4px);
}

    /* =============
        Card-Modal
    ================ */
.card-modal-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow: auto;
}
.card-modal{
    height: 80vh;
    width: 80%;
    margin: auto;
    margin-top: 7em;  
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    border: 1px solid transparent;
    border-radius: 0.5rem;    
    overflow-y: auto;
    z-index: 5;
}
.card-modal h1{
    color: var(--primary-color);
    margin-top: 6rem;
}
.card-modal p{
    margin-top: 4rem;
}
.card-modal-close-button{
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 20px;
    cursor: pointer;
    z-index: 1;
    color: #888;
    font-size: 50px;
}
.card-modal-close-button:hover {
    color: var(--secondary-color); /* Change the color on hover, if desired */
  }



/* =============
       SKILLS
    ================ */
.skills-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:start;
    gap: 2rem;
}
.skills-container h2{
    margin-top: 5rem;
}
.skills-container h3{
    margin-top: 4rem;
}

.progress-wrapper{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.progress-divider{
    width: 100%;
}

.progress-container {
    width: 100%;
    height: 25px;
    background-color: #F7F7F2;
    border-radius: 10px;
    
}

.progress-bar {
    width: 0;
    height: 25px;
    background-color: #F05D23;
    text-align: center;
    line-height: 25px;
    color: white;
    border-radius: 10px;
}

/* =============
       ABOUT
    ================ */




